<div class="bg-light border-right font-weight-bold col-6 col-md-2 ml-2 mt-1 fixed-top d-none d-md-block" id="sidebar-wrapper">
  <div class="newsletter-div row">
      <div class="row">
          <h5 class="newsletter col-7">Sign up for newsletter</h5>
          <span class="newsletter ml-4"><img src="https://image.flaticon.com/icons/svg/1268/1268472.svg" width="40" height="40" alt=""></span>
          
      </div>
      
      <div class="spec">Specials, new title, alerts and more</div>
      <input type="text" class="a form-control col-11" placeholder="Your email here">
      <button class="btn form-control col-11 mt-2">Sign Up</button>
  </div>

  <div class="list-group list-group-flush">
      <div class="sidebar-header p-1 mb-2">SOFT RESEARCHERS</div>
      <h5 class="text-center mt-2 font-weight-bold">Journals & Proceedings</h5>
      <a href="" class="list-group-item list-group-item-action bg-light">Bussiness & Finance</a>
      <a href="" class="list-group-item list-group-item-action bg-light">Communication and Journalism</a>
      <a href="" class="list-group-item list-group-item-action bg-light">Computer Science</a>
      <a href="" class="list-group-item list-group-item-action bg-light">Education</a>
      <a href="" class="list-group-item list-group-item-action bg-light">Enginnering</a>
      <a href="" class="list-group-item list-group-item-action bg-light">Humanitarian</a>
      <a href="" class="list-group-item list-group-item-action bg-light">Law</a>
      <a href="" class="list-group-item list-group-item-action bg-light">Medicine & Health Sciences</a>
      <a href="" class="list-group-item list-group-item-action bg-light">Library & Archival Information Technology</a>
      <a href="" class="list-group-item list-group-item-action bg-light">Science & Mathematics</a>
      <a href="" class="list-group-item list-group-item-action bg-light">Social Sciences</a>
      <a href="" class="list-group-item list-group-item-action bg-light">Test Prep & Study Guides</a>
  </div>

  <div class="list-group list-group-flush">
      <h5 class="text-center mt-2 font-weight-bold">Textbooks</h5>
      <a href="" class="list-group-item list-group-item-action bg-light">Bussiness & Finance</a>
      <a href="" class="list-group-item list-group-item-action bg-light">Communication and Journalism</a>
      <a href="" class="list-group-item list-group-item-action bg-light">Computer Science</a>
      <a href="" class="list-group-item list-group-item-action bg-light">Education</a>
      <a href="" class="list-group-item list-group-item-action bg-light">Enginnering</a>
      <a href="" class="list-group-item list-group-item-action bg-light">Humanitarian</a>
      <a href="" class="list-group-item list-group-item-action bg-light">Law</a>
      <a href="" class="list-group-item list-group-item-action bg-light">Medicine & Health Sciences</a>
      <a href="" class="list-group-item list-group-item-action bg-light">Library & Archival Information Technology</a>
      <a href="" class="list-group-item list-group-item-action bg-light">Science & Mathematics</a>
      <a href="" class="list-group-item list-group-item-action bg-light">Social Sciences</a>
      <a href="" class="list-group-item list-group-item-action bg-light">Test Prep & Study Guides</a>
  </div>

  <div class="list-group list-group-flush">
      <h5 class="text-center mt-2 font-weight-bold">Thesis & Dissertation</h5>
      <a href="" class="list-group-item list-group-item-action bg-light">Bussiness & Finance</a>
      <a href="" class="list-group-item list-group-item-action bg-light">Communication and Journalism</a>
      <a href="" class="list-group-item list-group-item-action bg-light">Computer Science</a>
      <a href="" class="list-group-item list-group-item-action bg-light">Education</a>
      <a href="" class="list-group-item list-group-item-action bg-light">Enginnering</a>
      <a href="" class="list-group-item list-group-item-action bg-light">Humanitarian</a>
      <a href="" class="list-group-item list-group-item-action bg-light">Law</a>
      <a href="" class="list-group-item list-group-item-action bg-light">Medicine & Health Sciences</a>
      <a href="" class="list-group-item list-group-item-action bg-light">Library & Archival Information Technology</a>
      <a href="" class="list-group-item list-group-item-action bg-light">Science & Mathematics</a>
      <a href="" class="list-group-item list-group-item-action bg-light">Social Sciences</a>
      <a href="" class="list-group-item list-group-item-action bg-light">Test Prep & Study Guides</a>
  </div>

  <div class="list-group list-group-flush">
      <div class="sidebar-header p-1 mb-2">SOFT READERS</div>
      <a href="" class="list-group-item list-group-item-action bg-light">Creative Writings</a>
      <a href="" class="list-group-item list-group-item-action bg-light">Spiritual & Religious</a>
      <a href="" class="list-group-item list-group-item-action bg-light">Health & Fitness</a>
      <a href="" class="list-group-item list-group-item-action bg-light">Entertainment</a>
      <a href="" class="list-group-item list-group-item-action bg-light">Economics & Business</a>
      <a href="" class="list-group-item list-group-item-action bg-light">Unexpected Books</a>
  </div>

  <div class="list-group list-group-flush">
      <div class="sidebar-header p-1 mb-2">SMART RESEARCHERS</div>
      <a href="" class="list-group-item list-group-item-action bg-light">Science & Technology</a>
      <a href="" class="list-group-item list-group-item-action bg-light">Critical Thinking</a>
      <a href="" class="list-group-item list-group-item-action bg-light">Writing & Lnaguage</a>
      <a href="" class="list-group-item list-group-item-action bg-light">Cultural Awareness</a>
  </div>
</div>