<div class="bg-light border-right font-weight-bold col-6 col-md-2 ml-2 fixed-top d-none d-md-block" id="sidebar-wrapper">
  <div class="newsletter-div row">
      <div class="row">
          <h5 class="newsletter col-7">Sign up for newsletter</h5>
          <span class="newsletter ml-4"><img src="https://image.flaticon.com/icons/svg/1268/1268472.svg" width="40" height="40" alt=""></span>
          
      </div>
      
      <div class="spec">Specials, new title, alerts and more</div>
      <input type="text" class="a form-control col-11" placeholder="Your email here">
      <button class="btn form-control col-11 mt-2">Sign Up</button>
  </div>

  <div class="list-group list-group-flush">
      <div class="sidebar-header p-1 mb-2">SOFT RESEARCHERS</div>
      <h5 class="text-center mt-2 font-weight-bold">Journals & Proceedings</h5>
      <a href="/journals/Bussiness & Finance" class="list-group-item list-group-item-action bg-light">Bussiness & Finance</a>
      <a href="/journals/Communication and Journalism" class="list-group-item list-group-item-action bg-light">Communication and Journalism</a>
      <a href="/journals/Computer Science" class="list-group-item list-group-item-action bg-light">Computer Science</a>
      <a href="/journals/Education" class="list-group-item list-group-item-action bg-light">Education</a>
      <a href="/journals/Enginnering" class="list-group-item list-group-item-action bg-light">Enginnering</a>
      <a href="/journals/Humanities" class="list-group-item list-group-item-action bg-light">Humanities</a>
      <a href="/journals/Law" class="list-group-item list-group-item-action bg-light">Law</a>
      <a href="/journals/Medicine & Health Sciences" class="list-group-item list-group-item-action bg-light">Medicine & Health Sciences</a>
      <a href="/journals/Library & Archival Information Technology" class="list-group-item list-group-item-action bg-light">Library & Archival Information Technology</a>
      <a href="/journals/Science & Mathematics" class="list-group-item list-group-item-action bg-light">Science & Mathematics</a>
      <a href="/journals/Social Sciences" class="list-group-item list-group-item-action bg-light">Social Sciences</a>
      <a href="/journals/Test Prep & Study Guides" class="list-group-item list-group-item-action bg-light">Test Prep & Study Guides</a>
  </div>

  <div class="list-group list-group-flush">
      <h5 class="text-center mt-2 font-weight-bold">Textbooks</h5>
      <a href="/textbooks/Bussiness & Finance" class="list-group-item list-group-item-action bg-light">Bussiness & Finance</a>
      <a href="/textbooks/Communication and Journalism" class="list-group-item list-group-item-action bg-light">Communication and Journalism</a>
      <a href="/textbooks/Computer Science" class="list-group-item list-group-item-action bg-light">Computer Science</a>
      <a href="/textbooks/Education" class="list-group-item list-group-item-action bg-light">Education</a>
      <a href="/textbooks/Enginnering" class="list-group-item list-group-item-action bg-light">Enginnering</a>
      <a href="/textbooks/Humanities" class="list-group-item list-group-item-action bg-light">Humanities</a>
      <a href="/textbooks/Law" class="list-group-item list-group-item-action bg-light">Law</a>
      <a href="/textbooks/Medicine & Health Sciences" class="list-group-item list-group-item-action bg-light">Medicine & Health Sciences</a>
      <a href="/textbooks/Library & Archival Information Technology" class="list-group-item list-group-item-action bg-light">Library & Archival Information Technology</a>
      <a href="/textbooks/Science & Mathematics" class="list-group-item list-group-item-action bg-light">Science & Mathematics</a>
      <a href="/textbooks/Social Sciences" class="list-group-item list-group-item-action bg-light">Social Sciences</a>
      <a href="/textbooks/Test Prep & Study Guides" class="list-group-item list-group-item-action bg-light">Test Prep & Study Guides</a>
  </div>

  <div class="list-group list-group-flush">
      <h5 class="text-center mt-2 font-weight-bold">Thesis & Dissertation</h5>
      <a href="/my-thesis/Bussiness & Finance" class="list-group-item list-group-item-action bg-light">Bussiness & Finance</a>
      <a href="/my-thesis/Communication and Journalism" class="list-group-item list-group-item-action bg-light">Communication and Journalism</a>
      <a href="/my-thesis/Computer Science" class="list-group-item list-group-item-action bg-light">Computer Science</a>
      <a href="/my-thesis/Education" class="list-group-item list-group-item-action bg-light">Education</a>
      <a href="/my-thesis/Enginnering" class="list-group-item list-group-item-action bg-light">Enginnering</a>
      <a href="/my-thesis/Humanities" class="list-group-item list-group-item-action bg-light">Humanities</a>
      <a href="/my-thesis/Law" class="list-group-item list-group-item-action bg-light">Law</a>
      <a href="/my-thesis/Medicine & Health Sciences" class="list-group-item list-group-item-action bg-light">Medicine & Health Sciences</a>
      <a href="/my-thesis/Library & Archival Information Technology" class="list-group-item list-group-item-action bg-light">Library & Archival Information Technology</a>
      <a href="/my-thesis/Science & Mathematics" class="list-group-item list-group-item-action bg-light">Science & Mathematics</a>
      <a href="/my-thesis/Social Sciences" class="list-group-item list-group-item-action bg-light">Social Sciences</a>
      <a href="/my-thesis/Test Prep & Study Guides" class="list-group-item list-group-item-action bg-light">Test Prep & Study Guides</a>
  </div>

  <div class="list-group list-group-flush">
      <div class="sidebar-header p-1 mb-2">SOFT READERS</div>
      <a href="/soft-readers/Creative Writings" class="list-group-item list-group-item-action bg-light">Creative Writings</a>
      <a href="/soft-readers/Spiritual & Religious" class="list-group-item list-group-item-action bg-light">Spiritual & Religious</a>
      <a href="/soft-readers/Health & Fitness" class="list-group-item list-group-item-action bg-light">Health & Fitness</a>
      <a href="/soft-readers/Entertainment" class="list-group-item list-group-item-action bg-light">Entertainment</a>
      <a href="/soft-readers/Economics & Business" class="list-group-item list-group-item-action bg-light">Economics & Business</a>
      <a href="/soft-readers/Unexpected Books" class="list-group-item list-group-item-action bg-light">Unexpected Books</a>
  </div>

  <div class="list-group list-group-flush">
      <div class="sidebar-header p-1 mb-2">SMART RESEARCHERS</div>
      <a href="javascript:void(0)" class="list-group-item list-group-item-action bg-light">Science & Technology</a>
      <a href="javascript:void(0)" class="list-group-item list-group-item-action bg-light">Critical Thinking</a>
      <a href="javascript:void(0)" class="list-group-item list-group-item-action bg-light">Writing & Language</a>
      <a href="javascript:void(0)" class="list-group-item list-group-item-action bg-light">Cultural Awareness</a>
      <a class="list-group-item list-group-item-action bg-light"></a>
  </div>
</div>