<div class="row container offset-md-1" id="contact_us">
  <!-- mail -->
    <div class="col-md-6 row card mt-5 offset-md-2">
     
    </div>
    <!-- address -->
    <div class="col-md-3 offset-md-1 mt-5">
        <i class="fa fa-envelope mr-3"></i> <label for="" class="control-label">Email</label>
        <div class="mb-3 form-control">info@softcopy.ng</div>

        <i class="fa fa-phone mr-3"></i> <label for="" class="control-label">Phone</label>
        <div class="input mb-3 mr-3 form-control">+23480+++++++++</div>

        <i class="fa fa-home mr-3"></i> <label for="" class="control-label">Address</label>
        <div class="input mr-3 form-control">Monatan, Ibadan, Oyo State.</div>
    </div>

    <div class="last offset-3 offset-md-5 mt-3">
        © 2019  <span class="ml-4">softcopy.ng</span> 
    </div>
</div>