<div class="card up">
  <div class="card-header d-none d-md-block row">
    <button class="p-2 col-3  btn1" (click)='finding()'>Findings & Submission</button>
    <button class="p-2 col-3 btn2" (click)='irresistible()' >Irresistible Authors</button>
    <button class="p-2 col-3 btn3" (click)="what_we_are_doing('desktop')">What We're Reading</button>
    <button class="p-2 col-3 btn4" (click)="just_arrived('desktop')">Just Arrived</button>
  </div>
    <!-- //mobile -->
    <div class="row mt-5 d-block d-md-none">
      <button class="p-2 col-6 btn1 mt-3"  (click)='finding()' >Findings & Submission</button>
      <button class="p-2 col-6 btn2" (click)='irresistible()' >Irresistible Authors</button>
    </div>
  
    <div class="card-body animated">
      <!-- first section for findings -->
      <div id="findings" class="animated row" >
        
      <!-- first slide to show before toggling -->

        <div id="findingsMobile"  class="findingsMobile animated col-11" style="min-height: 260px;">
          <a href="/show/{{data?.referal}}/{{data?.id}}/{{data?.type}}" *ngFor="let data of data; index as i" class="figure p-3 img1 animated" id="{{i}}">
            <img src="softcopy/backend/cover/{{data?.cover}}" class="figure-img img-fluid rounded" style="height: 140px; width: 100px;" alt="">
            <figcaption class="figure-caption text-center" ><del>${{data?.fakedollars}}</del></figcaption>
            <figcaption class="figure-caption text-center" style="color: #ff6c00">#{{data?.price}} | ${{data?.dollars}}</figcaption>
            <div class="middle text-center">
              {{data?.tittle}}
            </div>
          </a>
        </div>

        <!-- //button for scroll -->
        <div class="row container scroll" style="justify-content: center;">
          <a href="#0" class="p-1 a"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpUA4Cefg7TMfQB08zyVOp557ojIcK5UqhsV8TSCKOFfp39BMy3A&s" width="30" height="30" alt=""></a>
         
          <a href="#10" class="p-1 a"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpUA4Cefg7TMfQB08zyVOp557ojIcK5UqhsV8TSCKOFfp39BMy3A&s" width="30" height="30" alt=""></a>
         
        </div>
      </div>
      <!-- end -->
    </div> 


    <div class="row mt-3 d-block d-md-none">
      <button class="p-2 col-6 btn3"  (click)="what_we_are_doing('mobile')" >What We're Reading</button>
      <button class="p-2 col-6 btn4" (click)="just_arrived('mobile')" >Just Arrived</button>
    </div>

    <div id="findingsMobile"  class="findingsMobile animated col-12 d-block d-md-none" style="min-height: 260px;">
        <a href="/show/{{data?.referal}}/{{data?.id}}/{{data?.type}}" *ngFor="let data2 of data2;" class="figure p-3 animated">
          <img src="softcopy/backend/cover/{{data2?.cover}}" class="figure-img img-fluid rounded" style="height: 140px; width: 100px;" alt="">
          <figcaption class="figure-caption text-center" ><del>${{data2?.fakedollars}}</del></figcaption>
          <figcaption class="figure-caption text-center" style="color: #ff6c00">#{{data2?.price}} | ${{data2?.dollars}}</figcaption>
          <div class="middle text-center">
            {{data2?.tittle}}
          </div>
        </a>
     </div>
  

</div> 

