<div class="card mt-4">
  <div class="card-header">
    Enjoy The Pleasure of Reading
  </div>

  <div class="card-body">
    <!-- first section for findings -->
    <div id="findingsMobile"  class="findingsMobile animated col-11" style="min-height: 260px;">
        <a href="/show/{{data?.referal}}/{{data?.id}}/{{data?.type}}" *ngFor="let data of data; index as i" id="__{{i}}" class="figure p-3 animated">
          <img src="softcopy/backend/cover/{{data?.cover}}" class="figure-img img-fluid rounded" style="height: 140px; width: 100px;" alt="">
          <figcaption class="figure-caption text-center" ><del>${{data?.fakedollars}}</del></figcaption>
          <figcaption class="figure-caption text-center" style="color: #ff6c00">#{{data?.price}} | ${{data?.dollars}}</figcaption>
          <div class="middle text-center">
            {{data?.tittle}}
          </div>
        </a>
      </div>
    <!-- end -->

    <!-- scroll -->
      <div class="row container scroll" style="justify-content: center;">
        <a href="#__0" class="p-1 __a"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpUA4Cefg7TMfQB08zyVOp557ojIcK5UqhsV8TSCKOFfp39BMy3A&s" width="30" height="30" alt=""></a>
        
        <a href="#__10" class="p-1 __a"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpUA4Cefg7TMfQB08zyVOp557ojIcK5UqhsV8TSCKOFfp39BMy3A&s" width="30" height="30" alt=""></a>
        
      </div>
  </div>
</div>





