
.nav-item {
    font-size: 12px
    /* margin-bottom: 3px */
}

nav {
    background-color: #343A40;
    color: whitesmoke;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
    font-family: Arial, Helvetica, sans-serif
    
}

a {
    color: wheat;
    cursor: pointer;
}

button {
    border: 1px solid wheat
}

.navbar2 {
    background-color: wheat
}

input {
    font-size: 12px;
    padding: 18px
}

li {
    border-bottom: 0;
    letter-spacing: 1px;
    float: left
}

li:hover {
    border: 1px solid grey;
    border-radius: 4px;
   
}

#horizontalScroll{
    overflow-x: auto;
    white-space: nowrap;
    color: whitesmoke
}
.horizontalScroll{
    display: inline-block;
}

#horizontalScroll::-webkit-scrollbar {
    width: .2em;
    height: .2em
}

#horizontalScroll::-webkit-scrollbar-thumb {
    background-color: #ff6c00;
    border-radius: 10px;
}

a, span {
    font-weight: normal;
    padding: 7px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px
}

a{
    text-decoration: none;
    /* display: block */
    font-size: 12px
}
