.card-body {
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
}
.card-body:hover {
   opacity: .5;
}

img {
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 10px;
}

img:hover {
    opacity: .5;
}

@media screen and (max-width: 650px) {
    img {
        width: 300px;
    }
}