<app-nav ></app-nav>
<app-side-bar></app-side-bar>
<div class="offset-2 container mt-5 row">
  <div class="card col-4"  style="margin-top: 70px;">
      <div class="list-group list-group-flush">
   
          <h5 class="mt-2 font-weight-bold text-center">Journals & Proceedings</h5>
          <a href="/journals/Bussiness & Finance" class="list-group-item list-group-item-action bg-light">Bussiness & Finance</a>
          <a href="/journals/Communication and Journalism" class="list-group-item list-group-item-action bg-light">Communication and Journalism</a>
          <a href="/journals/Computer Science" class="list-group-item list-group-item-action bg-light">Computer Science</a>
          <a href="/journals/Education" class="list-group-item list-group-item-action bg-light">Education</a>
          <a href="/journals/Enginnering" class="list-group-item list-group-item-action bg-light">Enginnering</a>
          <a href="/journals/Humanities" class="list-group-item list-group-item-action bg-light">Humanities</a>
          <a href="/journals/Law" class="list-group-item list-group-item-action bg-light">Law</a>
          <a href="/journals/Medicine & Health Sciences" class="list-group-item list-group-item-action bg-light">Medicine & Health Sciences</a>
          <a href="/journals/Library & Archival Information Technology" class="list-group-item list-group-item-action bg-light">Library & Archival Information Technology</a>
          <a href="/journals/Science & Mathematics" class="list-group-item list-group-item-action bg-light">Science & Mathematics</a>
          <a href="/journals/Social Sciences" class="list-group-item list-group-item-action bg-light">Social Sciences</a>
          <a href="/journals/Test Prep & Study Guides" class="list-group-item list-group-item-action bg-light">Test Prep & Study Guides</a>
      </div>
  </div>
  <div class="card col-4"  style="margin-top: 70px;">
      <div class="list-group list-group-flush">
   
        <h5 class="mt-2 font-weight-bold text-center">TextBooks</h5>
        <a href="/textbooks/Bussiness & Finance" class="list-group-item list-group-item-action bg-light">Bussiness & Finance</a>
        <a href="/textbooks/Communication and Journalism" class="list-group-item list-group-item-action bg-light">Communication and Journalism</a>
        <a href="/textbooks/Computer Science" class="list-group-item list-group-item-action bg-light">Computer Science</a>
        <a href="/textbooks/Education" class="list-group-item list-group-item-action bg-light">Education</a>
        <a href="/textbooks/Enginnering" class="list-group-item list-group-item-action bg-light">Enginnering</a>
        <a href="/textbooks/Humanities" class="list-group-item list-group-item-action bg-light">Humanities</a>
        <a href="/textbooks/Law" class="list-group-item list-group-item-action bg-light">Law</a>
        <a href="/textbooks/Medicine & Health Sciences" class="list-group-item list-group-item-action bg-light">Medicine & Health Sciences</a>
        <a href="/textbooks/Library & Archival Information Technology" class="list-group-item list-group-item-action bg-light">Library & Archival Information Technology</a>
        <a href="/textbooks/Science & Mathematics" class="list-group-item list-group-item-action bg-light">Science & Mathematics</a>
        <a href="/textbooks/Social Sciences" class="list-group-item list-group-item-action bg-light">Social Sciences</a>
        <a href="/textbooks/Test Prep & Study Guides" class="list-group-item list-group-item-action bg-light">Test Prep & Study Guides</a>
      </div>
  </div>
  <div class="card col-4"  style="margin-top: 70px;">
      <div class="list-group list-group-flush">
   
        <h5 class="mt-2 font-weight-bold text-center">Thesis & Dissertation</h5>
        <a href="/my-thesis/Bussiness & Finance" class="list-group-item list-group-item-action bg-light">Bussiness & Finance</a>
        <a href="/my-thesis/Communication and Journalism" class="list-group-item list-group-item-action bg-light">Communication and Journalism</a>
        <a href="/my-thesis/Computer Science" class="list-group-item list-group-item-action bg-light">Computer Science</a>
        <a href="/my-thesis/Education" class="list-group-item list-group-item-action bg-light">Education</a>
        <a href="my-thesis/Enginnering" class="list-group-item list-group-item-action bg-light">Enginnering</a>
        <a href="/my-thesis/Humanities" class="list-group-item list-group-item-action bg-light">Humanities</a>
        <a href="/my-thesis/Law" class="list-group-item list-group-item-action bg-light">Law</a>
        <a href="/my-thesis/Medicine & Health Sciences" class="list-group-item list-group-item-action bg-light">Medicine & Health Sciences</a>
        <a href="/my-thesis/Library & Archival Information Technology" class="list-group-item list-group-item-action bg-light">Library & Archival Information Technology</a>
        <a href="/my-thesis/Science & Mathematics" class="list-group-item list-group-item-action bg-light">Science & Mathematics</a>
        <a href="/my-thesis/Social Sciences" class="list-group-item list-group-item-action bg-light">Social Sciences</a>
        <a href="/my-thesis/Test Prep & Study Guides" class="list-group-item list-group-item-action bg-light">Test Prep & Study Guides</a>
      </div>
  </div>
</div>
