<div class="mt-3 card">
  <div class="mt-5 header">
    READING HAS NO BOUNDARIES
  </div>
  <div style="color: grey; text-align: center;">There is no limit to what could be discovered via reading. Do away with limitations, read wide.</div>
  <div class="card-body row mt-4">
    <div class="col-12 col-md-4 p-4">
      <h3 style="color: grey;">WE HAVE THE BOOKS YOU WANT</h3>
      We have more than enough ebooks to satisfy your curiosity and the pleasure of reading.
      Read and share what you're reading with friends.
    </div>

    <div class="col-12 col-md-4 p-4">
      <div class="col-12">
        <h2><i class="fa fa-book p-1"></i> Books</h2>
        Well researched publications from seasoned educationists across disciplines and fields.
      </div>
      <div class="col-12 mt-5">
        <h2><i class="fa fa-search p-2"></i>Thesis and Dissertations</h2>
        Findings and submissions of researchers in your fields and beyond on the subjects/topics you are working on.
      </div>
    </div>
    
    <div class="col-12 col-md-4 p-4">
      <div class="col-12">
        <h2><i class="fa fa-file p-2"></i>Journals & Proceedings</h2>
        The precise information you need from thouroughly peer-reviewed journals, and from proceedings of seminars,workshops and conferences.
      </div>
      <div class="col-12 mt-5">
        <h2><i class="fa fa-edit p-2"></i>Fiction and Non-Fiction and more</h2>
        Thrilling,initeresting and informative books on every category: Health and Fitness, Economics and Business, Creative Writing,Spiritual and Religion.
      </div>
    </div>
  </div>
</div> 