<app-nav ></app-nav>
<app-side-bar></app-side-bar>

<!-- Modal -->
<div class="modal fade mt-5" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title font-weight-bold" id="exampleModalLongTitle">SOFT RESEARCHERS</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <h5 class=" mt-2 font-weight-bold">{{ header }}</h5>
              <a href="/{{q}}/Bussiness & Finance" class="list-group-item list-group-item-action bg-light">Bussiness & Finance</a>
              <a href="/{{q}}/Communication and Journalism" class="list-group-item list-group-item-action bg-light">Communication and Journalism</a>
              <a href="/{{q}}/Computer Science" class="list-group-item list-group-item-action bg-light">Computer Science</a>
              <a href="/{{q}}/Education" class="list-group-item list-group-item-action bg-light">Education</a>
              <a href="/{{q}}/Enginnering" class="list-group-item list-group-item-action bg-light">Enginnering</a>
              <a href="/{{q}}/Humanitarian" class="list-group-item list-group-item-action bg-light">Humanitarian</a>
              <a href="/{{q}}/Law" class="list-group-item list-group-item-action bg-light">Law</a>
              <a href="/{{q}}/Medicine & Health Sciences" class="list-group-item list-group-item-action bg-light">Medicine & Health Sciences</a>
              <a href="/{{q}}/Library & Archival Information Technology" class="list-group-item list-group-item-action bg-light">Library & Archival Information Technology</a>
              <a href="/{{q}}/Science & Mathematics" class="list-group-item list-group-item-action bg-light">Science & Mathematics</a>
              <a href="/{{q}}/Social Sciences" class="list-group-item list-group-item-action bg-light">Social Sciences</a>
              <a href="/{{q}}/Test Prep & Study Guides" class="list-group-item list-group-item-action bg-light">Test Prep & Study Guides</a>
          </div>
      </div>
  </div>    
</div>

<div class="offset-5 container mt-5 row">
  <div class="card col-4"  style="margin-top: 120px;">
      <div class="list-group list-group-flush">
   
          <h5 class="mt-2 font-weight-bold">Smart Researchers</h5>
          <a href="" class="list-group-item list-group-item-action bg-light">Science & Technology</a>
          <a href="" class="list-group-item list-group-item-action bg-light">Critical Thinking</a>
          <a href="" class="list-group-item list-group-item-action bg-light">Writing & Language</a>
          <a href="" class="list-group-item list-group-item-action bg-light">Cultural Awareness</a>
          
      </div>
  </div>

</div>
